<a href="https://colab.research.google.com/github/shambhavidpsg-beep/Shambhavi4C2K24CSUN01200/blob/main/ML%20LAB%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
#Importing pandas library
import pandas as pd

#Loading data into a DataFrame
data_frame=pd.read_csv('insurance.csv')

In [70]:
#displaying first five rows
display(data_frame.head())

#displaying last five rows
display(data_frame.tail())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [71]:
# Program to print all the column name of the dataframe
print(list(data_frame.columns))

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [72]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [73]:
data_frame.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [74]:
data_frame.isnull( )

        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]

In [75]:
data_frame.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [76]:
data_frame = data_frame.dropna()

In [77]:
#Removing 4th indexed value from the dataframe
data_frame.drop(4).head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
5   31  female  25.740         0     no  southeast   3756.62160

In [78]:
data_frame.rename({0:"First",1:"Second"})

        age     sex     bmi  children smoker     region      charges
First    19  female  27.900         0    yes  southwest  16884.92400
Second   18    male  33.770         1     no  southeast   1725.55230
2        28    male  33.000         3     no  southeast   4449.46200
3        33    male  22.705         0     no  northwest  21984.47061
4        32    male  28.880         0     no  northwest   3866.85520
...     ...     ...     ...       ...    ...        ...          ...
1333     50    male  30.970         3     no  northwest  10600.54830
1334     18  female  31.920         0     no  northeast   2205.98080
1335     18  female  36.850         0     no  southeast   1629.83350
1336     21  female  25.800         0     no  southwest   2007.94500
1337     61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [79]:
#Creates a new column with all the values equal to 1
data_frame['NewColumn'] = 1
data_frame.head()

   age     sex     bmi  children smoker     region      charges  NewColumn
0   19  female  27.900         0    yes  southwest  16884.92400          1
1   18    male  33.770         1     no  southeast   1725.55230          1
2   28    male  33.000         3     no  southeast   4449.46200          1
3   33    male  22.705         0     no  northwest  21984.47061          1
4   32    male  28.880         0     no  northwest   3866.85520          1